[submodule "airo-mono"]
	path = airo-mono
	url = https://github.com/airo-ugent/airo-mono.git
[submodule "lerobot_v1"]
	path = lerobot_v1
	url = https://github.com/tlpss/lerobot.git
[submodule "lerobot"]
	path = lerobot
	url = git@github.com:huggingface/lerobot.git
